{% extends 'base.html' %}

{%block content%}

<section class="jumbotron text-center">
    <div class="container">
      <h1> Super Power Sales Script </h1>
      <p class="lead text-muted"> '#1 Sales Template To Sell Anything.' </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SAxKJC0Elds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br/><br/>
        <p>
            <s>49$ per month</s> <br/>
            <a href="#" class="btn btn-primary my-2"> <h2>Buy Lifetime License Now! @ 9$ only</h2> </a>
      </p>
    </div>
  </section>

{%endblock%}