{% extends 'base.html' %}

{%block content%}

<section class="jumbotron text-center">
    <div class="container">
      <h1> Sales Mitraa </h1>
      <p class="lead text-muted"> '#1 Sales Template To Sell Anything.' </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SAxKJC0Elds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br/><br/>
        <p>
            <s>You don't have to buy lifetime license?</s> <br/>It's completely FREE! </p>
            <p><a href="{% url 'login'%}" class="btn btn-primary ">Access Now! </a></p>
    </div>
  </section>



{%endblock%}