{% extends 'base.html' %}

{%block content%}
<br/>
<br/>

<hr>
<br/>
<br/>



<div class="container">
     <h4 align="center" >Your Sales Script: {{script.scripttitle}} </h4>
<br/><br/>

<h3 align="center" >STEP 1:- INTRODUCTION</h3>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>

Hello {{script.salutationone}}, {{script.greetingsone}}. <br/><br/>

This is {{script.usernameone}} from {{script.companynameone}}. <br/><br/>

Today I am going to tell you {{script.problemstatementone}}

    <br/><br/><br/><br/>

    <h3 align="center" >STEP 2: GIVE LITTLE BACKGROUND STORY TO BUILD CURIOUSITY</h3>
{{script.backstorytwo}}

    <br/><br/><br/><br/>


<h3 align="center"> STEP 3: QUALIFYING THE AUDIENCE: </h3><p align="center"><br/>To make customers feel this product is their need.</p>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>

    So before I tell you more about {{script.productnamethree}}, see if couple of questions make sense to you.
    {{script.qualifierquestionsthree}}
<br/>
If answers to all these questions are yes then this is perfect fit for you.

<br/><br/><br/><br/>
<h3 align="center">STEP 4:  PRODUCT PRESENTATION </h3>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>
{{script.productpresentationfour}}

<br/><br/><br/><br/>
<h3 align="center">STEP 5:  ASK QUESTIONS TO MAINTAIN RAPPORT </h3>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>
{{script.rapportquestionfive}}
Yes, right?

    <br/><br/><br/><br/>
<h3 align="center"> STEP 6: ADDRESS CUSTOMER'S OBVIOUS DOUBTS UPFRONT </h3>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>


Now! You might ask {{script.customerdoubtssix}}
<br/>
And you are right in asking that question.
So let me take this moment to answer your doubts.
<br/><br/>
    {{script.answertocustomersix}}
    <br/><br/><br/><br/>
<h3 align="center"> STEP 7: STATE THE PAIN POINT </h3>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>

    {{script.productnameseven}} will help you {{script.painpointseven}}
   .

    <br/><br/><br/><br/>
<h3 align="center"> STEP 8: PICTURE THE IDEAL STATE WHRE CUSTOMER HAD USED YOUR PRODUCT AND
PROBLEM DOESN’T EXIST </h3>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>

{{script.productidealstateeight}}


 <br/><br/><br/><br/>
<h3 align="center"> STEP 9: INACTION RESULT </h3>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>

But what will happen if you don’t resolve {{script.problemstatementnine}}? Where do you see yourself a year from now? Or worse five years from now? We all know that problem like this typically doesn’t resolve unless you take serious action to resolve them.

      <br/><br/><br/><br/>
<h3 align="center"> STEP 10: REPEAT THE PRODUCT PRESENTATION LITTLE BIT DIFFERENTLY BEFORE CLOSING </h3>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>

Now let me tell you about {{script.productdescriptionelevan}}


        <br/><br/><br/><br/>
<h3 align="center"> STEP 12: ASKING FOR ORDER </h3>
    <hr width= 50% ><hr width= 50% >
    <br/><br/>

{{script.productnametwelve}} is {{script.whatdoesitdotwelve}}.
<br/>
Buy it NOW @ {{script.pricetwelve}}. Click the link below and get ready to fire up. 
 
<br/>
<br/>

<br/>
<br/><br/>
<br/>
<br/>
</div>











{% endblock %}
